@import '../../styles/colors.scss';

.wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 15px;

  &.error {
    color: $red;
  }

  .input {
    width: 100%;
    height: 200px;
    border: 1px solid $silver;
    border-radius: 3px;
    padding: 10px;
    box-shadow: none;
    outline: none;
    font-size: 15px;
    color: $black;
    resize: none;

    &:not(.error):focus {
      border: 1px solid $sky;
    }

    &.error {
      margin-bottom: 5px;
      border: 1px solid $red;
    }
  }

  .input[disabled] {
    background-color: $snow;

    &:hover {
      cursor: not-allowed;
    }
  }
}