@import '../../styles/colors.scss';

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;

  .header {
    display: flex;
    align-items: center;

    .card {
      height: 50px;
      border: 1px solid $silver;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      font-size: 16px;
      color: $gray;

      .number {
        margin-left: 8px;
        font-size: 22px;
        font-weight: 600;
        color: $black;
      }

      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
}