@import '../../styles/colors.scss';

$sidebar-width: 220px;

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 30px;

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    padding-top: 10px;
    background-color: $snow;
    border-right: 1px solid $silver;

    .item {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      font-size: 18px;
      color: $dark;

      &.active {
        background-color: $snow-hover;
        pointer-events: none;
      }

      &:hover {
        background-color: $snow-hover;
        cursor: pointer;
      }
    }
  }

  .body {
    position: absolute;
    top: 0;
    left: $sidebar-width;
    right: 0;
    bottom: 0;
  }
}