$black: #212121;
$silver: #BDC3C7;
$sky: #80BDFF;
$red: #D13438;
$blue: #007BFF;
$blue-hover: #0069D9;
$white: #FFFFFF;
$gray: #7F8C8D;
$dark: #34495E;
$dark-hover: #2C3E50;
$snow: #ECF0F1;
$snow-hover: #D1D4D4;