@import '../../styles/colors.scss';

.form {
  .title {
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    color: $dark;
  }

  .question {
    margin-top: 10px;
    display: flex;
    padding: 10px;
    border-radius: 3px;

    .gutter {
      width: 20px;
      font-size: 14px;
      color: $dark;
      font-weight: 600;
    }

    .content {
      flex: 1 1 0;

      .evaluate {
        display: flex;
        height: 50px;

        .input {
          width: 100px;
          height: 40px;
        }

        .button {
          margin-left: 15px;
          padding: 0 15px;
          height: 40px;
        }
      }

      .title {
        font-size: 14px;
        color: $dark;
        font-weight: 600;
      }

      .answer {
        margin-top: 5px;
        margin-bottom: 7px;
        max-height: 300px;
        padding: 15px 10px;
        border: 1px solid $silver;
        border-radius: 3px;
        background-color: $light;
        overflow-y: auto;
        white-space: pre-wrap;

        &:hover {
          cursor: not-allowed;
        }
      }

      .radioForm {
        min-height: 50px;
        display: flex;
        align-items: flex-start;
        padding-top: 10px;

        .radio {
          width: 70px;
        }

      }
    }

    .footer {
      display: flex;

      .notice {
        flex: 1 1 0;
        font-size: 13px;
        color: $silver;
      }
    }
  }
}