@import '../../styles/colors.scss';

.wrapper {
  margin-top: 30px;
  max-width: 800px;
  display: flex;
  padding: 10px;
  border-radius: 3px;

  .gutter {
    width: 30px;
    font-size: 16px;
    color: $black;
    font-weight: 600;
  }

  .content {
    position: relative;
    flex: 1 1 0;

    .title {
      font-size: 16px;
      color: $black;
      font-weight: 600;
    }

    .body {
      margin-top: 10px;
      margin-bottom: 7px;
      position: relative;
      width: 100%;
      height: 90px;
      border: 1px solid $silver;
      border-radius: 3px;

      .dropzone {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        color: $gray;

        .file {
          font-size: 13px;
          text-align: center;
          line-height: 2.0;
        }

        &.disabled {
          background-color: $snow;
          pointer-events: none;
        }

        &:hover {
          cursor: pointer;
          color: $dark;
        }
      }
    }
  }
}

.spinner {
  margin-right: 10px;
  animation: rotate 0.8s infinite linear;
  width: 25px;
  height: 25px;
  border: 3px solid $gray;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}