@import '../../styles/colors.scss';

.wrapper {
  margin-top: 30px;
  position: relative;
  width: 300px;

  .row {
    margin-bottom: 14px;

    .input {
      margin-bottom: 5px;
    }

    .description {
      font-size: 13px;
      font-weight: 500;
      color: $silver;
      white-space: nowrap;
    }
  }

  .button {
    margin-top: 10px;
    height: 34px;
    width: 100%;
  }
}