@import '../../styles/colors.scss';

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;

  .title {
    margin: 10px 20px 0 20px;
    padding: 10px 20px 0 0;
    height: 50px;
    border-bottom: 1px solid $silver;
    font-size: 25px;
    font-weight: 600;
    color: $black;
  }

  .body {
    margin: 10px 20px 20px 20px;
  }
}